<div>
  <mat-toolbar color="primary" id="navbar">  
      <img src="assets/MLWebLogo.png" width="100" />
      <h1>Application Voyage Michael Lacroix</h1>
  
 <div class="menu">
  <button mat-raised-button color="Link"><a routerLink="/">Accueil</a></button>
  <button mat-raised-button color="Link"><a routerLink="gestion">Gestion</a></button>
 </div>

  </mat-toolbar>

  <!-- <app-side-nav></app-side-nav>
  
  <div class="gestion-wrapper">
    <app-gestion></app-gestion>
  </div>  -->
</div>

<router-outlet></router-outlet>
